.about-photo {
    max-width: 350px;
}


@media (max-width: 500px) {
    .about-photo {
        max-width: 90%;
    }
    .row {
        justify-content: center;
    }
    main {
        text-align: center !important;
    }
  }
