.App {
  width: 90%;
  margin: 0 auto;
}
.App-header {
  background-color: #fff;
}
button {
  color: #fff;
}
hr {
  border: 1px solid #F6A2B0;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
small a {
  text-decoration: none;
  color: #B9A486;
  font-weight: bolder;
}


/*Responsive Styles*/

@media (max-width: 500px) {
  .App-logo {
    width: 225px;
  }

  .navbar-brand{
    max-width: 50%;
  }
  main form {
    max-width: 80%;
    margin-left: 0px auto;
  }
  .col {
    display: block !important;
    flex: 0 0 0%;
  }
}