.App {
  width: 90%;
  margin: 0 auto;
}
.App-header {
  background-color: #fff;
}
hr {
  border: 1px solid #000;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

/*Responsive Styles*/

@media (max-width: 500px) {
  .App-logo {
    width: 225px;
  }
  .col {
    display:block !important;
    flex: 0 0 0%;
  }
}