.category-block {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
form {
    max-width: 350px;
  }

.category-tag {
    font-weight: bold;
    text-align: center;
}